<h1>New deposit</h1>

<% form_for(@deposit) do |f| %>
  <%= f.error_messages %>
  <%= hidden_field_tag :account_id, @account.id %>

  <p>
	<%= f.label :number %>
	<%= f.text_field :number%>
</p>
	<%=f.label :amount%>
	<%=f.text_field :amount%>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', deposits_path %>