<p>
  <b>Name:</b>
  <%=h @account.name %>
</p>

<p>
  <b>Number:</b>
  <%=h @account.number %>
</p>

<p>
  <b>Balance:</b>
  <%=h number_to_currency(@account.balance) %>
</p>

<%=link_to 'Add Check', new_withdrawal_path (:account_id => @account.id)%>
<%=link_to 'Deposit', new_deposit_path (:account_id => @account.id)%>
<%= link_to 'Edit', edit_account_path(@account) %> |
<%= link_to 'Back', accounts_path %>