<h1>Listing payees</h1>

<table>
  <tr>
    <th>Name</th>
  </tr>

<% @payees.each do |payee| %>
  <tr>
    <td><%=h payee.name %></td>
    <td><%= link_to 'Show', payee %></td>
    <td><%= link_to 'Edit', edit_payee_path(payee) %></td>
    <td><%= link_to 'Destroy', payee, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New payee', new_payee_path %>